.fulfilled, li {
    list-style: none;
}

.fulfilled::before {
    content: "✓";
    color: white;
    background-color: rgb(1, 139, 1);
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}

li::before {
    content: "✗";
    color: white;
    background-color: gray;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}

input:valid {
    border: 1px solid green;
}

input:invalid {
    border: 1px solid red;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    outline: none;
    margin: 1rem;
}