* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:host(app-top-bar) {
    position: fixed;
    top: 0;
    left: 0;
    height: 75px;
    width: 100%;
    background-color: lightblue;
}

.bar-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.cart-container {
    display: flex;
}

.trip-counter {
    font-size: larger;
    font-family: sans-serif;
    color: white;
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    border-radius: 50%;
}

nav {
    width: 3rem;
    height: 3rem;
}

.cart {
    display: block;
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: transparent;
    background-image: url("src/assets/images/cart.png");
    background-position: center;
    background-size: 2rem;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.cart:hover {
    background-color: #a3cbd9;
}
