<div *ngIf="trip !== null" class="container">
    <div [ngStyle]="{'background-color': trip.availableSeats - numberOfChosenSeats > 3 ? 'green' : 'red'}"
        class="number"
    >{{ numberOfChosenSeats }}</div>
    <button
        [ngStyle]="{'display': numberOfChosenSeats > 0 ? 'block' : 'none'}"
        class="decrease"
        (click)="decreaseNumberOfChosenSeats($event)"
    >-</button>
    <button
        [ngStyle]="{'display': trip.availableSeats- numberOfChosenSeats > 0 ? 'block' : 'none'}"
        class="increase"
        (click)="increaseNumberOfChosenSeats($event)"
    >+</button>
</div>
