* {
    box-sizing: border-box;
    font-family: Calibri;
    margin: 0;
    padding: 0;
}

.grid-container {
    max-width: 100vw;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 32%);
    justify-content: space-evenly;
    row-gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.city-card {
    width: 100%;
    border-radius: 2px;
    box-shadow: 0px 0px 8px rgb(153, 153, 153);
}

.city-card > img {
    width: 100%;
}

.city-card > h2, .city-card > h3, .city-card > p {
    padding-left: 20px;
    padding-right: 20px;
}

.city-card > h3 {
    color: rgb(255, 94, 94);
}

.city-card > p {
    color: rgba(0, 0, 0, 0.7);
}

.city-card > hr {
    margin: 20px;
    border: 1px solid rgba(128, 128, 128, 0.192);
}

.footer {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 30% 70%;
}

button {
    background-color: rgb(241, 76, 76);
    color: white;
    border: 0;
    font-size: large;
}

button:hover {
    background-color: rgb(214, 70, 70);
}

ul {
    justify-self: flex-end;
}

li {
    color: rgba(0, 0, 0, 0.7);
    list-style-type: "❤";
}

li:first-child {
    list-style-type: "💬";
}


@media (max-width: 1000px) {
    .grid-container {
        grid-template-columns: repeat(2, 49%);
    }
}

@media (max-width: 500px) {
    .grid-container {
        grid-template-columns: 100%;
        padding: 1rem;
    }
}