* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.buy-all {
    display: block;
    height: fit-content;
    font-size: large;
    text-decoration: none;
    border: none;
    padding: 1rem;
    background-color: green;
    color: white;
    border-radius: 5px;
    float: right;
    width: 10rem;
}

.buy-all:hover {
    background-color: #006700;
}

.main-cart {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.summary {
    min-height: 10rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    box-shadow: 3px 3px 10px gray;
    gap: 2rem;
    width: 100%;
}

.total {
    font-size: larger;
}
