* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: auto;
    width: 99vw;
    overflow-x: hidden;
    background-color: antiquewhite;
}

.grid-container {
    position: relative;
    display: grid;
    padding: 1rem;
    grid-template-columns: 12rem calc(99% - 25rem) 12rem;
    grid-template-rows: 10vh 10vh max-content 10vh;
    row-gap: 1rem;
    column-gap: 1rem;

    grid-template-areas: 
        "header header header"
        "sidebar navigation ads"
        "sidebar main ads"
        "footer footer footer";
}

.grid-container > div {
    border: 1px solid red;
    border-radius: 5px;
}

.header {
    grid-area: header;
    padding: 1rem;
}

.sidebar {
    grid-area: sidebar;
    border: none!important;
}

.sidebar-wrapper {
    position: sticky;
    top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    height: min-content;
    width: 100%;
    border: 1px solid red;
    border-radius: 5px;
}

.sidebar-wrapper > img {
    width: 100%;
    height: auto;
    clip-path: circle();
}

.sidebar-wrapper > * {
    margin: 1rem 0rem;
}

.social-media {
    height: 3rem;
    display: flex;
    justify-content: space-between;
}

.social-media > img {
    height: 100%;
    clip-path: circle();
}

.navigation {
    grid-area: navigation;
    padding: 1rem;
}

.ads {
    grid-area: ads;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
}

.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card {
    margin: 2rem;
    padding: 3rem 4rem;
    background-color: rgba(255, 255, 255, 0.5);
    clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
    width: 90%;
}

.img-crop {
    float: left;
    height: 10rem;
    width: auto;
    clip-path: circle();
    shape-outside: circle();
    margin: 0.5rem;
}

.img-crop > img {
    height: 100%;
}

.text {
    float: none;
    color: rgba(0, 0, 0, 0.7);
}

.text > h3 {
    margin: 1rem 0;
}

.form-wrapper {
    width: 90%;
    background-image: url("./images/bg-form.jpg");
    background-position: center;
    background-size: cover;
    color: rgb(92, 92, 92);
    margin: 2rem;
    overflow: hidden;
}

form {
    padding: 2rem 6rem 2rem 2rem;
    width: max-content;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.85);
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
}

form > h1 {
    color: green;
    padding: 2rem 0;
}

input[type=text] {
    margin: 1rem 0;
    padding: 1rem;
    border: 0;
    width: 50%;
}

.radios {
    display: flex;
    flex-wrap: wrap;
}

input[type=radio] {
    appearance: none;

    display: inline-block;
    width: 1rem;
    height: 1rem;
    padding: 2px;
    border: 1px solid green;
    border-radius: 50%;
    background-clip: content-box;
    margin-right: 0.5rem;
}

input[type=radio]:checked {
    background-color: green;
}

.radios > div {
    padding: 1rem 2rem 1rem 0rem;
    display: flex;
    align-items: center;
}

input[type=submit] {
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    color: white;
    border: none;
    background-color: green;
    border-radius: 2rem;
    margin: 1rem 0rem;
}

.footer {
    grid-area: footer;
    padding: 1rem;
}


@media (max-width: 1200px) {
    .grid-container {
        grid-template-columns: 12rem calc(100% - 13rem);
        grid-template-rows: 10vh 10vh max-content 10vh;
        grid-template-areas: 
            "header header"
            "navigation navigation"
            "sidebar main"
            "ads footer";
    }

    .ads {
        flex-direction: row;
        width: 100%;
    }

    .ads > img {
        width: 33%;
        height: 100%;
    }
}

@media (max-width: 800px) {
    .grid-container {
        grid-template-columns: 100%;
        grid-template-rows: 10vh 10vh max-content max-content 10vh 10vh;
        grid-template-areas: 
            "header"
            "navigation"
            "main"
            "sidebar"
            "ads"
            "footer";
    }

    .sidebar-wrapper {
        padding: 0;
        align-items: center;
        height: 100%;
    }

    .sidebar-wrapper > img {
        height: 3rem;
        width: auto;
    }
    
    .sidebar-wrapper > * {
        margin: 0;
    }

    .ads > img {
        width: auto;
    }

    .radios {
        flex-direction: column;
    }
}