<div class="container" *ngIf="trip !== null" [ngStyle]="{'box-shadow': '0 0 20px ' + color, 'border': '1px solid ' + color}">
    <h2>{{ trip.name | uppercase }}</h2>
    <div class="img-wrapper" [ngStyle]="{'box-shadow': '0 0 10px ' + color}">
        <img [src]="trip.photoURl" alt="Picture">
    </div>
    <h3>{{ trip.country | uppercase }}</h3>
    <p>{{ trip.description }}</p>
    <p><b>{{ trip.startDate }}</b> - <b>{{ trip.endDate }}</b></p>
    <p><b>{{ trip.price }}</b> PLN per person</p>

    <app-choose-number-of-seats [trip]="trip"></app-choose-number-of-seats>
</div>

<button *ngIf="trip !== null" (click)="tripsDataService.removeTrip(trip)">Delete</button>
