<div class="body">
    <div class="filter">
        <label for="select">Show trips with status:</label>
        <select [(ngModel)]="status" id="select">
            <option value="all" selected>All</option>
            <option value="upcoming">Upcoming</option>
            <option value="in progress">In progress</option>
            <option value="finished">Finished</option>
        </select>
    </div>
    <div *ngIf="purchaseHistoryService.purchasedItems != null">
        <div class="item"  *ngFor="let item of (purchaseHistoryService.purchasedItems | filterByStatus: status)">
            <app-single-purchase [purchasedItem]="item"></app-single-purchase>
        </div>
    </div>
</div>
